<body>
    <Section>
        <div class="container-fluid " style="background-color:#003b7e; color: #fff;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="breadcrumbs">
                        <a class="text-white" href="#">LBPL Portal</a>
                        <span>></span>
                        <span class="current">reports Tools</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span class="businessUser" style="float: right; font-size: 13px;">Business User</span>
                </div>
            </div>
        </div>

        <div class="header">
            <div style="display: flex;align-items:center;gap:8px;">
                <div style="width: 60px; height: 40px;">
                    <img src="../../assets/image//logo.png" width="100%" height="100%" alt="">
                </div>
                <div>
                    <div style="font-size: 1.1rem;font-weight: bold;">LBPL</div>
                    <div>Report Tool</div>
                </div>
            </div>

            <div class="right-icons">
                
                <i style="cursor: pointer;" title="LogOut" class="fa fa-sign-out" aria-hidden="true" (click)="logout()" ></i>
                <!-- <i class="fa fa-question-circle"></i> -->
                <i style="cursor: pointer;" class="fa fa-user"></i>
            </div>
        </div>
    </Section>
</body>